.swiper-button-prev,
.swiper-button-next {
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #60bb46;
  border-radius: 100%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white !important;
  font-size: 1rem !important;
}
